<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perekupchino</title>
</head>
<body>
	<div class="header">
		<div class="menu_bar">
			<div class="main_logo_and_text">
				<div class="main_logo">
					<nav><a href="/"><img src="../static/data/logo.png" alt=""></a></nav>
				</div>
				<p>Выкупаем автомобили<br>в Нижнем Новгороде и области</p>
			</div>
			<div class="phone_and_imgs">
				<p class="phone_number">+7-999-999-99-99</p>
				<div class="imgs_bar">
					<a href="https://t.me/naebnet"><img src="../static/data/telegram.png" alt=""></a>
					<a href="https://t.me/naebnet"><img src="../static/data/viber.png" alt=""></a>
					<a href="https://t.me/naebnet"><img src="../static/data/whatsapp.png" alt=""></a>
				</div>
			</div>
		</div>
	</div>
	<h2 class = "main_text_content">Продай свой<br>АВТОМОБИЛЬ сегодня,<br>Без проблем</h2>	

	<div class="two-block">
		<div class="two-block-background"></div>
		<div class="two-block-text">
			<h2>Предлагают бесценок?</h2>
			<p>Устали торговаться с дилерами? Вот тут-то мы и вступаем в игру. Мы покупаем автомобили в любом состояние на 15% дороже, чем перекупы, а главное без стресса и нервов!</p>
		</div>
	</div>
	

	<div class="vikup">
		<h2>Как проходит выкуп авто?</h2>
		<div class="grid-setka-main">
		   <div class="grid-setka">
			   <div class="grid-elem-vikup">
				   <div class="img-elem">
					   <img src="../static/data/zayavka.png" alt="">
				   </div>
				   <p class="text-grid-elem-vikup-name">Заявка</p>
				   <p class="text-grid-elem-vikup-main">Вы оставляете заявку и мы предварительно озвучиваем стоимость, за которую готовы забрать ваш автомобиль</p>
			   </div>
			   <div class="grid-elem-vikup">
				   <div class="img-elem">
					   <img src="../static/data/ocenka.png" alt="">
				   </div>
				   <p class="text-grid-elem-vikup-name">Оценка</p>
				   <p class="text-grid-elem-vikup-main">Мы выдвигаемся к вам на общий осмотр автомобиля, где озвучиваем конечную стоимость</p>
			   </div>
			   <div class="grid-elem-vikup">
				   <div class="img-elem">
					   <img src="../static/data/dogovor.png" alt="">
				   </div>
				   <p class="text-grid-elem-vikup-name">Договор</p>
				   <p class="text-grid-elem-vikup-main">Составляем договор купли-продажи</p>
			   </div>
			   <div class="grid-elem-vikup">
				   <div class="img-elem">
					   <img src="../static/data/viplata.png" alt="">
				   </div>
				   <p class="text-grid-elem-vikup-name">Выплата</p>
				   <p class="text-grid-elem-vikup-main">После подписания договора, выплачиваем оговоренную стоимость</p>
			   </div>
		   </div>
		</div>
	</div>

	<div class="documents">
		<div class="documents-background"></div>
		<div class="documents-wrap">
			<h2>Какие необходимы документы?</h2>
			<div class="documents-flex">
				<div class="card">
					<div class="background-card"></div>
					<p>Паспорт транспортного средства (ПТС)</p>
				</div>
				<div class="card">
					<div class="background-card"></div>
					<p>Паспорт РФ или СНГ</p>
				</div>
				<div class="card">
					<div class="background-card"></div>
					<p>Доверенность (если вы не собственник)</p>
				</div>
				<div class="card">
					<div class="background-card"></div>
					<p>Комплекты ключей</p>
				</div>
				<div class="card">
					<div class="background-card"></div>
					<p>Сервисная книжка (при наличии)</p>
				</div>
			</div>
		</div>
	</div>

	<div class="form">
		<div class="form-main">
			<h2>Запросить оценку</h2>
			<p>Заполните номер телефона, и мы свяжемся с вами и предложим справедливое предложение. Никаких скрытых комиссий, никаких подвохов!</p>
			<form>
				<input type="text" required placeholder="Ваше имя:">
				<input type="text" required placeholder="Номер телефона:">
				<textarea required placeholder="Краткое описание автомобиля (Марка, модель, год выпуска):"></textarea>
				<input type="submit" value="Отправить заявку">
			</form>
		</div>
	</div>

	<div class="FAQ">
		<h2>Частые вопросы</h2>
		<div class="questions">
			<div class="QA">
				<p>Насколько быстрый процесс?</p>
				<p>Обычно мы проводим проверку и покупку автомобиля в течение 24 часов.</p>
			</div>
			<div class="QA">
				<p>Вы принимаете любые автомобили?</p>
				<p>Да, мы покупаем автомобили любой марки, модели и года.</p>
			</div>
			<div class="QA">
				<p>Как производите расчет?</p>
				<p>Мы платим наличными или переводом, в зависимости от ваших предпочтений.</p>
			</div>
			<div class="QA">
				<p>Как с вами связаться?</p>
				<p>Можете заполнить форму обратной связи или же позвонить по номеру: +7-999-999-99-99</p>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="line"></div>
		<div class="footer-text">
			<p>Выкуп авто ©2023</p>
			<p>Все права защищены. Копирование и использование информации с сайта без согласия владельца запрещены и преследуется по закону</p>
		</div>
	</div>
</body>
</html>